$headerspanColor:#f0b47f;
$background-color: #d1e8e9;
$searchbutton-color: #11958B;
$text-color:#1E243C;
$mainp-color:#a1a5a5;
$MainPage-color:#ecf2ef;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 376px;
$breakpoint-lg: 992px;
$modal-bgc:#01282d;
$modal-bgc2:#3e847f;
$modal-bgc3: #3b817e;
