@import "./variable" ;

    .maincontainer {
        width: 1180px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-top: auto
    }