@import "./variable";

.main{
    height: 80vh;
    //  max-width: 1100px;
    // min-width: 300px; 
    // overflow-y: hidden;   
    background-color: $MainPage-color;
    margin-top: 80px;
.headerSpan{
    color: $headerspanColor;
    z-index: 2;
    font: {
        size:18px;
        weight:bold
    }
    &::before{
        content: "___";
        margin-right: 10px;
        vertical-align: 8px;
        font: {
            size:20px;
            weight:bold
        }
    
    }
}
.header{
    font-size: 42px;
    color:$text-color;
    // line-height: 30px;;
    @media screen and (max-width:992px ){

        font-size: 41px;

    }
}
.mainText{
    color: $mainp-color;

}
.SearchInput{
    z-index: 2;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    @media screen and (max-width: 400px){
        padding-left:7px !important   ;
        color: $text-color;
        &::placeholder{
            // font-size: 14px;
        }
    }
    input{
        background-color: #fff;
        padding: 10px 5px 10px 30px;
        overflow-x: scroll;
        width: 92%;
        height: 100%;
        border: none;
        outline: none;
        @media  screen and (max-width: 400px) {
            &::placeholder{
                font-size: 13px;
            }
            
        }
        &::-webkit-search-cancel-button{
            
            cursor: pointer;
        }
        @media screen and (max-width: 400px){
            margin-left:0  !important   ;
        }
    }
    button{
        background-color: $searchbutton-color;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        &:focus-visible{
            outline: none;
        }
        @media screen and (max-width: 400px){
            margin-right: 5px ;
        }
    }
    @media screen and (max-width: $breakpoint-lg) {
        .headerWrapper{
            
            .header{
                font-size:40px !important;
            }
        }
    }

}

@media (max-width: $breakpoint-tablet) {
    .headerWrapper{
        margin-top:20px !important;
        margin-bottom:20px !important;
        .header{
            font-size: 28px;
        }
    }
}


}