@import "./variable";

.main{
    height: 600px;
    // max-width: 1100px;    
    background-color: $MainPage-color;
.headerSpan{
    color: $headerspanColor;
    font: {
        size:18px;
        weight:bold
    }
    &::before{
        content: "___";
        margin-right: 10px;
        vertical-align: 8px;
        font: {
            size:20px;
            weight:bold
        }
    
    }
}
.header{
    font-size: 50px;
    color:$text-color
}
.SearchInput{
    z-index: 2;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;

    input{
        background-color: #fff;
        padding: 10px 5px 10px 30px;
        overflow-x: scroll;
        width: 92%;
        height: 100%;
        border: none;
        outline: none;
    }
    &::-webkit-search-cancel-button{
        
            
        
    }
    button{
        background-color: $searchbutton-color;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
}
}